<div class="card text-dark bg-light mb-3">
    <div class="card-header">Pisos</div>
    <div class="card-body">
      <div class="card-title"> Listado de pisos</div>
      <div class="p-field-checkbox">
        <p-checkbox [(ngModel)]="checked" [binary]="true" inputId="binary" (ngModelChange)="checkChanged($event)"></p-checkbox>
        <label for="binary">&nbsp;&nbsp;Mostrar Pisos Inactivos</label>
      </div>
  
      <div class="my-2 text-left">
        <button type="button" class="btn btn-primary" [routerLink]="['/pisos/form-piso']">Agregar</button>
      </div>
      <div *ngIf="pisos?.length ==0" class="alert alert-info">
        No hay pisos registrados
      </div>
  
      <table class="table table-striped table-bordered table-sm" *ngIf="pisos?.length > 0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th colspan="2" class="text-center">Opciones</th>
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor="let piso of pisos">
                <td>{{piso.id}}</td>
                <td>{{piso.nombre}}</td>
                <th class="text-center">
                  <button type="button" name="editar" [routerLink]="['/pisos/form-piso', piso.id]" class="btn btn-warning">Editar</button>
                  &nbsp;&nbsp;
                    <button pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-warning" (click)="deleteProduct(estado= 'I', piso)" *ngIf="piso.estado=='A'"></button>
                </th>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
