<nav class="navbar navbar-expand-lg navbar-white bg-black-alpha-10">
    <img src="https://cdn-icons-png.flaticon.com/512/1475/1475996.png" class="logo" height="50"/>
    <div class="container-fluid">
      <a class="navbar-brand text-warning" href="/home">HOTELJAPP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tipoHabitaciones" *ngIf="authService.hasRole('ROLE_ADMIN')">Tipos de habitaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pisos" *ngIf="authService.hasRole('ROLE_ADMIN')">Pisos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/habitaciones" *ngIf="authService.hasRole('ROLE_ADMIN')">Habitaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/clientes" *ngIf="authService.hasRole('ROLE_ADMIN')">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/reservas" *ngIf="authService.hasRole('ROLE_ADMIN')">Reservas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/registros" *ngIf="authService.hasRole('ROLE_USER')">Registro de reservas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link route" routerLink="/historial" *ngIf="authService.hasRole('ROLE_USER')">Mis reservas</a>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav navbar-right">
        <li>
          <a [routerLink]="['/login']" class="btn btn-outline-primary" *ngIf="!authService.isAuthenticated()">Ingresar</a>
        </li>
        <li>
          <a  (click)="logout()" *ngIf="authService.isAuthenticated()" class="btn btn-danger" [routerLink]="['/login']">
        Cerrar sesión
          </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <button class="dropdown-item" type="submit">Cerrar sesión</button>
        </div>
        </li>
      </ul>
    </div>
  </nav>
