<p></p>
<p-toast></p-toast>

<div class="card">
        
    <p-table #dt [value]="reservas" [rows]="10" [paginator]="true" [globalFilterFields]="['fechaRegistro','cliente.nombre']" responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Gestion de reservas</h5>
                <div class="table-responsive">
                    <div class="table">
                        <tr>
                            <td><p-radioButton name="groupname" label="Reservas recibidas" value="val1" [(ngModel)]="selectedValue" (onClick)="getRecibidas()"></p-radioButton></td>
                            <td><p-radioButton name="groupname" label="Reservas Aceptadas" value="val2" [(ngModel)]="selectedValue" (onClick)="getAceptadas()"></p-radioButton></td>
                            <td><p-radioButton name="groupname" label="Reservas canceladas" value="val3" [(ngModel)]="selectedValue" (onClick)="getCanceladas()"></p-radioButton></td>
                        </tr> 
                    </div>
                </div>

                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal(getEventValue($event), 
                    'contains')" placeholder="Search..." /> 
                </span>

            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">Número Reserva<p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="fecha_registro">Fecha Registro<p-sortIcon field="fecha_registro"></p-sortIcon></th>
                <th pSortableColumn="fecha_ingreso">Fecha Ingreso<p-sortIcon field="fecha_ingreso"></p-sortIcon></th>
                <th pSortableColumn="fecha_salida">Fecha Salida<p-sortIcon field="fecha_salida"></p-sortIcon></th>
                <th pSortableColumn="dia">Días<p-sortIcon field="dia"></p-sortIcon></th>
                <th pSortableColumn="total">Total<p-sortIcon field="total"></p-sortIcon></th>
                <th pSortableColumn="cliente">Cliente<p-sortIcon field="cliente"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-reserva>
            <tr>
                <td>{{reserva.id}}</td>
                <td>{{reserva.fecha_registro | date:"dd/MM/yyyy"}}</td>
                <td>{{reserva.fecha_ingreso | date:"dd/MM/yyyy"}}</td>
                <td>{{reserva.fecha_salida | date:"dd/MM/yyyy"}}</td>
                <td>{{reserva.dia}}</td>
                <td>{{reserva.total | currency:'USD'}}</td>
                <td>{{reserva.cliente.nombre}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-search" label="Ver detalle" class="p-button-info p-button-sm" (click)="verDetalleReserva(reserva)"></button> &nbsp;
                    <button pButton pRipple icon="pi pi-arrow-up-right" label="Aceptar" class="p-button-success p-button-sm" (click)="changeState(estado='A', reserva)" *ngIf="reserva.estado=='R'"></button>
                    <button pButton pRipple icon="pi pi-times" label="Cancelar" class="p-button-secondary p-button-sm" (click)="changeState(estado='C', reserva)" *ngIf="reserva.estado=='R'"></button> 
                   
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Total de reservas: &nbsp; {{ reservas ? reservas.length : 0 }} 
            </div>
        </ng-template>
    </p-table>
</div>


<p-dialog [(visible)]="detalleReservaDialog" [style]="{width: '1000px'}" header="{{title}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="formgrid grid row">
            <div class="field col-6">
                <label for="fecha"><b>Número Reserva: </b>{{reserva.id}}</label>
            </div>
        </div>
        <div class="field">
            <label for="nombre"><b>Cliente: </b>{{reserva.cliente.nombre}}</label>
        </div>
        <div class="formgrid grid row">
            <div class="field col-6">
                <label for="fecha"><b>Fecha de registro: </b>{{reserva.fecha_registro | date: "EEEE dd, MMM yyyy"}}</label>
            </div>
        </div>
        <div class="formgrid grid row">
            <div class="field col-6">
                <label for="fecha"><b>Fecha de ingreso: </b>{{reserva.fecha_ingreso | date: "EEEE dd, MMM yyyy"}}</label>
            </div>
        </div>
        <div class="formgrid grid row">
            <div class="field col-6">
                <label for="fecha"><b>Fecha de salida: </b>{{reserva.fecha_salida | date: "EEEE dd, MMM yyyy"}}</label>
            </div>
        </div>
        <div class="formgrid grid row">
            <div class="field col-6">
                <label for="fecha"><b>Días: </b>{{reserva.dia}}</label>
            </div>
        </div>
        <div class="formgrid grid row">
            <div class="field col-6">
                <label for="fecha"><b>Estado: </b>{{reserva.estado=='R' ? 'Recibida' :(reserva.estado=='A' ? 'Aceptada' :(reserva.estado=='C' ? 'Cancelada' : 'En proceso'))}}</label>
            </div>
        </div>

        <div class="formgrid grid">
            <table class="table table-bordered border-primary">
                <thead class="border border-primary">
                    <th>Prestaciones</th>
                    <th>Precio</th>
                </thead>
                <tbody>

                <tr *ngFor="let item of reserva.detalleReserva">
                    <td>{{item.habitacion.nombre}}, {{item.habitacion.servicio}}</td>
                    <td>{{item.habitacion.precio | currency: 'USD'}}</td>
                   <!-- <td>{{item.habitacion.precio + servicio.precio | currency: 'USD'}}</td> !-->
                <tr>
                    <td colspan="1"><strong>Total de la reserva</strong></td>
                    <td><b>{{reserva.total | currency: 'USD'}}</b></td>
                </tr>
                </tbody>
            </table>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    </ng-template>

</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>