<p></p>
<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple icon="pi pi-plus-circle" label="Agregar" class="p-button-rounded p button success" (click)="openNew()"></button>
        </ng-template>
        
    </p-toolbar>
    <p-table #dt [value]="clientes" [rows]="10" [paginator]="true" [globalFilterFields]="['nombre','telefono','status']" responsiveLayout="scroll"
        
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0"><strong>Clientes</strong></h5>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                <th pSortableColumn="fecha_nacimiento">Fecha de nacimiento <p-sortIcon field="fecha_nacimiento"></p-sortIcon></th>
                <th pSortableColumn="direccion">Direccion <p-sortIcon field="direccion"></p-sortIcon></th>
                <th pSortableColumn="telefono">Telefono <p-sortIcon field="telefono"></p-sortIcon></th>
                <th>Opciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cliente>
            <tr>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.fecha_nacimiento | date:"dd/MM/yyyy"}}</td>
                <td>{{cliente.direccion}}</td>
                <td>{{cliente.telefono}}</td>
                <td>
                    
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(cliente)"></button>
                    &nbsp;&nbsp;
                    <button pButton pRipple icon="pi pi-times-circle" class="p-button-rounded p-button-secondary" (click)="delete(cliente)"></button>
                
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                El total de clientes es : {{clientes ? clientes.length : 0 }}
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="clienteDialog" [style]="{width: '450px'}" header="{{title}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="nombre">Nombre</label>
            <input type="text" pInputText id="nombre" [(ngModel)]="cliente.nombre" required autofocus />
            <small class="p-error" *ngIf="submitted && !cliente.nombre">Nombre es requerido.</small>
        </div>

        
                <div class="col-sm-12"  *ngIf="cliente.id == null">
                    <label for="fecha_nacimiento" class="col-form-label" col-sm-12>Fecha de nacimiento</label>
                    <input type="date" class="form-control" name="fecha_nacimiento" [(ngModel)]="cliente.fecha_nacimiento">
                </div>

                <div class="field">
            <label for="nombre">Direccion</label>
            <input type="text" pInputText id="direccion" [(ngModel)]="cliente.direccion" required autofocus />
            <small class="p-error" *ngIf="submitted && !cliente.direccion">Direccion es requerida.</small>
        </div>

        <div class="field">
            <label for="nombre">Telefono</label>
            <input type="text" pInputText id="telefono" [(ngModel)]="cliente.telefono" required autofocus />
            <small class="p-error" *ngIf="submitted && !cliente.telefono">Telefono es requerido.</small>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text text-danger" (click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" *ngIf="!cliente.id else elseBlock" class="p-button-text" (click)="create()"></button>
    <ng-template #elseBlock>
        <button pButton pRipple label="Actualizar" icon="pi pi-check" class="p-button-text" (click)="update()"></button>
    </ng-template>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


