<div class="card bg-ligth">
    <div class="card-header">Agregar reserva</div>
    <div class="card-body">
        <form #reservaForm = "ngForm">
            <div class="form-group row">
<!--
                <div class="field col-sm-6">
                    <label for="cliente" class="col-form-labelvcol-sm-6">Cliente</label>
                    <p-dropdown [(ngModel)]="reserva.cliente" optionLabel="nombre" [options]="clientes" placeholder="Select">
                    </p-dropdown>
                </div>
            -->
                <label for="nombre" class="col-form-label" col-sm-12>Fecha de registro</label>
                <div class="col-sm-12">
                    <input type="date" class="form-control" name="fecha_registro" [(ngModel)]="reserva.fecha_registro" #fecha_registro="ngModel">
                </div>

                <label for="nombre" class="col-form-label" col-sm-12>Fecha de ingreso</label>
                <div class="col-sm-12">
                    <input type="date" class="form-control" name="fecha_ingreso" [(ngModel)]="reserva.fecha_ingreso" #fecha_ingreso="ngModel">
                </div>

                <label for="nombre" class="col-form-label" col-sm-12>Fecha de salida</label>
                <div class="col-sm-12">
                    <input type="date" class="form-control" name="fecha_salida" [(ngModel)]="reserva.fecha_salida" #fecha_salida="ngModel">
                </div>

                <label for="nombre" class="col-form-label" col-sm-2>Días</label>
                <div class="col-sm-2">
                    <input type="number" class="form-control" name="dia" [(ngModel)]="reserva.dia" #dia="ngModel">
                </div>
                

            </div>
        </form>
    </div>
</div>

<div class="card">
    <p-dataView #dv [value]="habitaciones" [paginator]="true" [rows]="9" filterBy="nombre"
        [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
        <ng-template pTemplate="header">
            <div class="flex flex-column md:flex-row md:justify-content-between">
                <span class="p-input-icon-left mb-2 md:mb-0">
                    <i class="pi pi-search"></i>
                    <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter(getEventValue($event))">
                </span>
                <button pButton type="button" label="Ver Reserva" class="p-button-text" (click)="verDetalleReserva()" *ngIf="detalle.length > 0"></button>
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
        </ng-template>
        <ng-template let-habitacion pTemplate="listItem" let-index="rowIndex">
            <div class="col-12">
                <div class="product-list-item">
                    <img [src]="'assets/images/habitaciones/' + habitacion.imagen" [alt]="habitacion.nombre"/>
                    <div class="product-list-detail">
                        <div class="product-name">{{habitacion.nombre}}, {{habitacion.servicio}}</div>
                    </div>
                    <div class="product-list-action">
                        <span class="product-price">{{habitacion.precio | currency: 'USD'}}</span>

                        <p-button icon="pi pi-check" label="Agregar a orden" (onClick)="addToReservation(habitacion, $event)"></p-button> 
                     
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template let-habitacion pTemplate="gridItem">
            <div class="col-12 md:col-4">
                <div class="product-grid-item card">

                    <div class="product-grid-item-content">
                        <img [src]="'assets/images/habitaciones/' + habitacion.imagen" [alt]="habitacion.nombre"/>
                        <div class="product-name">{{habitacion.nombre}}, {{habitacion.servicio}}</div>

                    
                    <div class="product-grid-item-bottom">
                        <span class="product-price">{{habitacion.precio | currency: 'USD'}}</span>
                    </div>
                    <br>
                        <p-button icon="pi pi-check" (onClick)="addToReservation(habitacion, $event)"></p-button>
                    </div> 
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>

<p-dialog [(visible)]="detalleReservaDialog" [style]="{width: '1000px'}" header="{{title}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="nombre"><b>Cliente: </b>{{reserva.cliente.nombre}}</label>
        </div>
        <div class="formgrid grid row">
            <div class="field col-6">
                <label for="fecha"><b>Fecha de registro: </b>{{reserva.fecha_registro | date: "EEEE dd, MMM yyyy"}}</label>
            </div>
        </div>
        <div class="formgrid grid row">
            <div class="field col-6">
                <label for="fecha"><b>Fecha de ingreso: </b>{{reserva.fecha_ingreso | date: "EEEE dd, MMM yyyy"}}</label>
            </div>
        </div>
        <div class="formgrid grid row">
            <div class="field col-6">
                <label for="fecha"><b>Fecha de salida: </b>{{reserva.fecha_salida | date: "EEEE dd, MMM yyyy"}}</label>
            </div>
        </div>
        <div class="formgrid grid row">
            <div class="field col-6">
                <label for="dia"><b>Días: </b>{{reserva.dia}}</label>
            </div>
        </div>
        <div class="formgrid grid row">
            <div class="field col-6">
                <label for="estado"><b>Estado: </b>{{reserva.estado=='R' ? 'Recibida' :(reserva.estado=='A' ? 'Aceptada' :(reserva.estado=='C' ? 'Cancelada' : 'En proceso'))}}</label>
            </div>
        </div>

        <div class="formgrid grid">
            <table class="table table-bordered border-primary">

                <thead class="border border-primary">
                    <th>Habitaciones</th>
                    <th>Precio</th>
                </thead>

                <tbody>

                    <tr *ngFor="let item of reserva.detalleReserva">
                        <td>{{item.habitacion.nombre}}, {{item.habitacion.servicio}}</td>
                        <td>{{item.habitacion.precio | currency: 'USD'}}</td>
                        <td><button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger" (click)="quitarItem(item)"></button></td>
                    <tr>
                        <td colspan="1"><strong>Total de la reserva</strong></td>
                        <td><b>{{reserva.total | currency: 'USD'}}</b></td>
                    </tr>
                    </tbody>

            </table>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Confirmar la reserva" icon="pi pi-check" class="p-button-text" (click)="saveReservation()" *ngIf="detalle.length > 0"></button>
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    </ng-template>

</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


        
         
          

          
           
          
          
    


